@import "../../styles/index";

.blackWhite {
  filter: grayscale(100%);
}

.titleStyle {
  margin-left: 49px;
  margin-right: 49px;
}

@media (min-width: $max-s) {
  main.document .aboutPage {
    overflow-y: hidden;
    margin: 0 8rem;
  }
}
